# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d
*.class
/proj.android/bin/*
/proj.android/libs/*
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#cocos2d sources
/cocos2d/*
/proj.android/src/org/cocos2dx/lib/*

